.med-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.input{
   padding: 1rem 1rem;
}
.App-header{
    display: flex;
    justify-content: center;
}